extends layout

block content
    if authorized
        h2 welcome, #{username}
        a(href="/mypage") My Page
        br
        a(href="/projects") Projects 
        br
        a(href="/scoreboard") Scoreboard
        br 
        a(href="/logout") Logout
        br
        
    
    
    
    
    else
        a(href="/login") Login
        br
        a(href="/register") Register
